accelerate==0.18.0
bitsandbytes==0.37.2
decord==0.6.0
diffusers[torch]==0.11.1
einops==0.6.0
ftfy==6.1.1
gradio==3.24.1
huggingface-hub==0.13.4
imageio==2.27.0
imageio-ffmpeg==0.4.8
omegaconf==2.3.0
Pillow==9.5.0
python-slugify==8.0.1
tensorboard==2.11.2
torch==1.13.1
torchvision==0.14.1
transformers==4.26.0
triton==2.0.0
xformers==0.0.16
nvitop
plotly
psutil
